<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
</head>

<body>
    <!-- <%- include('navbar') %> -->
     <hr>
        <h3>Messages</h3>
        <ul class="message-list">
            <% for (let i=0; i<results.length; i++) { %>
                <h5 style="margin-bottom: .2rem; font-size: 1rem;">
                    <%=results[i].username%>
                </h5>
                <li class="message-text">
                    <%=results[i].message%>
                        <br>
                        <a class="view-message-details" href="/messages/<%= results[i].id %>">View message details</a>
                </li>
                <% } %>
                    <br>
                    <a href="new">
                        <button class="new-message">New post</button>
                    </a>
        </ul>
        <hr>
        <%- include("search") %>
      

</body>
</html>

